
            /*
                green: #9CF701
                yellow: #FFEE01
                orange: #FFB201
                brown: #775300
            */
         
            body{
                font-family: "Comic Sans MS", cursive, sans-serif;
            }
            #logo{
                background-color: white;
                position: relative;
                width: 110px;
                border-style: solid;
                border-width: thin;
                border-color: #775300;
                margin-left: 25px;
    
            }
            nav{
                background-color: #9CF701;
                line-height: 3em;
                margin-top: -80px;
            }
            nav ul{
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                padding-left: 150px;
                margin: 0;
                
            }
             nav a{
                color: #466E00;
                font-size: 1.1em;
                 padding: .5em 1em;
            } 
            nav a:hover {
                background-color: #D4FB9D;
                color: #82CE00;
            }
            .nav-home{
                background-color: #D4FB9D;
            }
            .nav-rivers{
                background-color:#D4FB9D;
            }
            .nav-faq{
                background-color: #D4FB9D;
            }
            .fullwidth{
                width: 100%;
            }
            #banner{
                width: 100%;
            }
            img {
                max-width: 100%;
            }
            .left-column, .right-column{
                width: 48%;
                flex: 1 0 15em;
                margin: .5em;
            }
            .questions{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
            }
            #top-row{
                padding: 1.5em;
            }
            h1,h2,h3,h4,h5,h6{
                color: #466E00;
                font-family: 'Permanent Marker', cursive;
                margin: 1.5em .5em .5em .5em;
                line-height: 1em;
                display: flex;
                flex-flow: row wrap; 
                justify-content: center;
            }
            p {
                margin: .3em .5em .5em .5em;
                text-indent: 30px;
                color: #776F00;
            }
            #top-row, #middle-row, #bottom-row, #bottom-river{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
            }
            #content{
                width: 80%;
                max-width: 960px;
                margin: 0 auto;
            }
            #middle-row{
                background-color: #D4FB9D;
                padding: 1.5em;
            }
            #bottom-row{
                text-align: center;
                width: 48%;
                padding: 1.5em;
                margin: 100px 200px 100px 200px;
            }
            #bottom-river{
                padding: 1.5em;
            }
            footer{
                background-color: #9CF701;
                height: 55px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 20px;
                padding-left: 20px;
            }
            .rivers h2{
                color: #466E00;
            }
            .question h2{
                color: #466E00;
            }
            .question-end{
            padding-bottom: 2em;
            }